
@import "./raster/raster.css";

* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
#__next {
  min-height: 100%;
}
a:focus, button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(178, 178, 178, 0.3);
}

:root {
  --grey: #666;
  --darkGrey: #444;
  --fontSize: calc(100vw / 90);
}
@media only screen and (max-width: 600px) { :root {
  --fontSize: calc(100vw / 30);
}}

@media only screen and (min-width: 600px) and (max-width: 1024px) { :root {
  --fontSize: calc(100vw / 60);
}}

@media only screen and (max-device-width: 812px) and (orientation: landscape) { :root {
  --fontSize: 1.7vw;
}}
