/* Raster grid subsystem (rsms.me/raster) */
grid {
  display: grid;
  --grid-tc: repeat(4, 1fr);
  grid-template-columns: var(--grid-tc);
  --grid-cs: 1; /* column start */
  --grid-ce: -1 /* column end */
}

/* c -- cell or column */
grid > c { display: block; appearance: none; -webkit-appearance: none }

grid[columns="1"] { --grid-tc: repeat(1, 1fr) }
grid[columns="2"] { --grid-tc: repeat(2, 1fr) }
grid[columns="3"] { --grid-tc: repeat(3, 1fr) }
grid[columns="4"] { --grid-tc: repeat(4, 1fr) }
grid[columns="5"] { --grid-tc: repeat(5, 1fr) }
grid[columns="6"] { --grid-tc: repeat(6, 1fr) }
grid[columns="7"] { --grid-tc: repeat(7, 1fr) }
grid[columns="8"] { --grid-tc: repeat(8, 1fr) }
grid[columns="9"] { --grid-tc: repeat(9, 1fr) }

/* cell=start... */
grid > c[cell^="1"] { --grid-cs: 1 }
grid > c[cell^="2"] { --grid-cs: 2 }
grid > c[cell^="3"] { --grid-cs: 3 }
grid > c[cell^="4"] { --grid-cs: 4 }
grid > c[cell^="5"] { --grid-cs: 5 }
grid > c[cell^="6"] { --grid-cs: 6 }
grid > c[cell^="7"] { --grid-cs: 7 }
grid > c[cell^="8"] { --grid-cs: 8 }
grid > c[cell^="9"] { --grid-cs: 9 }

/* cell=...+width, cell=...-end */
grid > c[cell$="+1"], grid > c[cell="1"] { --grid-ce: 1 }
grid > c[cell$="+2"], grid > c[cell$="-1"], grid > c[cell="2"] { --grid-ce: 2 }
grid > c[cell$="+3"], grid > c[cell$="-2"], grid > c[cell="3"] { --grid-ce: 3 }
grid > c[cell$="+4"], grid > c[cell$="-3"], grid > c[cell="4"] { --grid-ce: 4 }
grid > c[cell$="+5"], grid > c[cell$="-4"], grid > c[cell="5"] { --grid-ce: 5 }
grid > c[cell$="+6"], grid > c[cell$="-5"], grid > c[cell="6"] { --grid-ce: 6 }
grid > c[cell$="+7"], grid > c[cell$="-6"], grid > c[cell="7"] { --grid-ce: 7 }
grid > c[cell$="+8"], grid > c[cell$="-7"], grid > c[cell="8"] { --grid-ce: 8 }
grid > c[cell$="+9"], grid > c[cell$="-8"], grid > c[cell="9"] { --grid-ce: 9 }
grid > c[cell$="-9"] { --grid-ce: 10 }

/* connect vars */
grid > c[cell] { grid-column-end: span var(--grid-ce) }
grid > c[cell*="+"], grid > c[cell*="-"], grid > c[cell*=".."] {
  grid-column-start: var(--grid-cs) }
grid > c[cell*="-"], grid > c[cell*=".."] {
  grid-column-end: var(--grid-ce) }
grid > c[cell="row"] { grid-column: 1 / -1 }

/* for window width <= 600 */
@media only screen and (max-width: 600px) {
  grid[columns-s="1"] { --grid-tc: repeat(1, 1fr) }
  grid[columns-s="2"] { --grid-tc: repeat(2, 1fr) }
  grid[columns-s="3"] { --grid-tc: repeat(3, 1fr) }
  grid[columns-s="4"] { --grid-tc: repeat(4, 1fr) }
  grid[columns-s="5"] { --grid-tc: repeat(5, 1fr) }
  grid[columns-s="6"] { --grid-tc: repeat(6, 1fr) }
  grid[columns-s="7"] { --grid-tc: repeat(7, 1fr) }
  grid[columns-s="8"] { --grid-tc: repeat(8, 1fr) }
  grid[columns-s="9"] { --grid-tc: repeat(9, 1fr) }

  /* cell-s=start... */
  grid > c[cell-s^="1"] { --grid-cs: 1 }
  grid > c[cell-s^="2"] { --grid-cs: 2 }
  grid > c[cell-s^="3"] { --grid-cs: 3 }
  grid > c[cell-s^="4"] { --grid-cs: 4 }
  grid > c[cell-s^="5"] { --grid-cs: 5 }
  grid > c[cell-s^="6"] { --grid-cs: 6 }
  grid > c[cell-s^="7"] { --grid-cs: 7 }
  grid > c[cell-s^="8"] { --grid-cs: 8 }
  grid > c[cell-s^="9"] { --grid-cs: 9 }

  /* cell-s=...+width, cell-s=...-end */
  grid > c[cell-s$="+1"], grid > c[cell-s="1"] { --grid-ce: 1 }
  grid > c[cell-s$="+2"], grid > c[cell-s$="-1"], grid > c[cell-s="2"] { --grid-ce: 2 }
  grid > c[cell-s$="+3"], grid > c[cell-s$="-2"], grid > c[cell-s="3"] { --grid-ce: 3 }
  grid > c[cell-s$="+4"], grid > c[cell-s$="-3"], grid > c[cell-s="4"] { --grid-ce: 4 }
  grid > c[cell-s$="+5"], grid > c[cell-s$="-4"], grid > c[cell-s="5"] { --grid-ce: 5 }
  grid > c[cell-s$="+6"], grid > c[cell-s$="-5"], grid > c[cell-s="6"] { --grid-ce: 6 }
  grid > c[cell-s$="+7"], grid > c[cell-s$="-6"], grid > c[cell-s="7"] { --grid-ce: 7 }
  grid > c[cell-s$="+8"], grid > c[cell-s$="-7"], grid > c[cell-s="8"] { --grid-ce: 8 }
  grid > c[cell-s$="+9"], grid > c[cell-s$="-8"], grid > c[cell-s="9"] { --grid-ce: 9 }
  grid > c[cell-s$="-9"] { --grid-ce: 10 }

  /* connect vars */
  grid > c[cell-s] { grid-column-end: span var(--grid-ce) }
  grid > c[cell-s*="+"], grid > c[cell-s*="-"], grid > c[cell-s*=".."] {
    grid-column-start: var(--grid-cs) }
  grid > c[cell-s*="-"], grid > c[cell-s*=".."] {
    grid-column-end: var(--grid-ce) }
  grid > c[cell-s="row"] { grid-column: 1 / -1 }
}

/* for window width >= 1600 */
@media only screen and (min-width: 1599px) {
  grid[columns-l="1"] { --grid-tc: repeat(1, 1fr) }
  grid[columns-l="2"] { --grid-tc: repeat(2, 1fr) }
  grid[columns-l="3"] { --grid-tc: repeat(3, 1fr) }
  grid[columns-l="4"] { --grid-tc: repeat(4, 1fr) }
  grid[columns-l="5"] { --grid-tc: repeat(5, 1fr) }
  grid[columns-l="6"] { --grid-tc: repeat(6, 1fr) }
  grid[columns-l="7"] { --grid-tc: repeat(7, 1fr) }
  grid[columns-l="8"] { --grid-tc: repeat(8, 1fr) }
  grid[columns-l="9"] { --grid-tc: repeat(9, 1fr) }

  /* cell-l=start... */
  grid > c[cell-l^="1"] { --grid-cs: 1 }
  grid > c[cell-l^="2"] { --grid-cs: 2 }
  grid > c[cell-l^="3"] { --grid-cs: 3 }
  grid > c[cell-l^="4"] { --grid-cs: 4 }
  grid > c[cell-l^="5"] { --grid-cs: 5 }
  grid > c[cell-l^="6"] { --grid-cs: 6 }
  grid > c[cell-l^="7"] { --grid-cs: 7 }
  grid > c[cell-l^="8"] { --grid-cs: 8 }
  grid > c[cell-l^="9"] { --grid-cs: 9 }

  /* cell-l=...+width, cell-l=...-end */
  grid > c[cell-l$="+1"], grid > c[cell-l="1"] { --grid-ce: 1 }
  grid > c[cell-l$="+2"], grid > c[cell-l$="-1"], grid > c[cell-l="2"] { --grid-ce: 2 }
  grid > c[cell-l$="+3"], grid > c[cell-l$="-2"], grid > c[cell-l="3"] { --grid-ce: 3 }
  grid > c[cell-l$="+4"], grid > c[cell-l$="-3"], grid > c[cell-l="4"] { --grid-ce: 4 }
  grid > c[cell-l$="+5"], grid > c[cell-l$="-4"], grid > c[cell-l="5"] { --grid-ce: 5 }
  grid > c[cell-l$="+6"], grid > c[cell-l$="-5"], grid > c[cell-l="6"] { --grid-ce: 6 }
  grid > c[cell-l$="+7"], grid > c[cell-l$="-6"], grid > c[cell-l="7"] { --grid-ce: 7 }
  grid > c[cell-l$="+8"], grid > c[cell-l$="-7"], grid > c[cell-l="8"] { --grid-ce: 8 }
  grid > c[cell-l$="+9"], grid > c[cell-l$="-8"], grid > c[cell-l="9"] { --grid-ce: 9 }
  grid > c[cell-l$="-9"] { --grid-ce: 10 }

  /* connect vars */
  grid > c[cell-l] { grid-column-end: span var(--grid-ce) }
  grid > c[cell-l*="+"], grid > c[cell-l*="-"], grid > c[cell-l*=".."] {
    grid-column-start: var(--grid-cs) }
  grid > c[cell-l*="-"], grid > c[cell-l*=".."] {
    grid-column-end: var(--grid-ce) }
  grid > c[cell-l="row"] { grid-column: 1 / -1 }
}
